{
  email admin@example.com
}

:80 {
  handle /api/* {
    reverse_proxy backend:8000
  }
  handle /metrics {
    respond "Forbidden" 403
  }
  handle /widget/* {
    reverse_proxy widget_cdn:80
  }
  handle /app/* {
    uri strip_prefix /app
    reverse_proxy dashboard:80
  }
  handle {
    reverse_proxy landing:80
  }
}
